<% provide :title, "Songs" %>

<table class="table">
  <tr>
    <td>Title</td>
    <td>Originator</td>
    <td>Description</td>
  </tr>
  <% @songs.each do |song| %>
    <tr>
      <td><%= link_to song.title, song_path(song.id) %></td>
      <td><%= song.users.first.jam_name %></td>
      <td><%= song.description %></td>
    </tr>
  <% end %>
</table>